
<h1>About</h1>
<p>Uri Mikhli </p>


<p>
<a href="http://stackoverflow.com/users/2437923/uri-mikhli">
<img src="http://stackoverflow.com/users/flair/2437923.png?theme=hotdog" width="208" height="58" alt="profile for Uri Mikhli at Stack Overflow, Q&A for professional and enthusiast programmers" title="profile for Uri Mikhli at Stack Overflow, Q&A for professional and enthusiast programmers">
</a>
</p>

<P>
This site was initially built while following the RoR Video Tutorial
</p>
