<h1>Help</h1>
<p>
  Get help on Ruby on Rails  Video Tutorial at the
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  To get help on this app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>
<p> Here are the help pages for the games engines:
<ul>
  <li>
    <a href="http://impactjs.com/">Impact js</a>
  </li>
  <li><a href="http://entityjs.com/">Entity js</a></li>
  <li><a href="http://gogomakeplay.com/gmp">GMP</a></li>
  <li><a href="http://jawsjs.com/">Jaws js</a></li>
  <li><a href="https://sites.google.com/site/cssgameengine/">cssgame engine</a>
</ul>

</p>